@font-face {
    font-family: basiic;
    src: url(basiic.ttf)
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(191, 191, 191);
    font-family: basiic, Verdana, Geneva, Tahoma, sans-serif;
    width: 56em;
    margin: auto;
}