/* Testing */
* > * {
  background-color: red;
  border-color: blue;
}

body {
  background-color: rgb(35, 35, 35);
  color: rgb(191, 191, 191);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50em;
  margin: auto;
  }

p {
  display: inline;
}

/* First section of the page */
.section-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}

/* Navigation bar */
nav {
  border-style: solid;
  border-width: 0.1em;
  padding: 1em;
  width: 10em;
  display: inline-block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    background-color: #ffffff;
    margin-bottom: 1em;
  }
}

/* Right top section */
.content-right {
  display: flex;
  flex-direction: column;
  background-color: purple;
  width: 35em;
}

/* Introduction */
.introduction {
  background-color: blue;
  display: inline-block;
  width: 35em;
}

/* Guestbook and Tips */
.guestbook-and-tips {
  margin-top: 2em;
  background-color: yellow;
  display: flex;
  align-items: center;
  /* Inline elements */
  > a {
    background-color: green;
    width: 45%;
  }
}

.tips {
  display: flex;
}

/* Second section of the page */
.section-middle {
  margin-bottom: 2em;
  display: flex;
}

.status {
  border-color: blue;
  border-style: solid;
  border-width: 0.1em;
  height: 10
}

/* The bottom section of the page */
.section-bottom {
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links {
  border-style: solid;
  border-width: 0.1em;
  padding: 1em;
  width: 10em;
  display: inline-block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Images */
.image-title {
  width: 100%;
  margin-top: 10em;
  margin-bottom: 2em;
}
.image-guestbook {
  width: 100%;

}
.image-ad {
  width: 70%;
}