/* Testing DELETE AFTER */
/* * > * {
  background-color: rgba(255, 0, 0, 0.185);
  border-color: blue;
}
img {
  background-color:unset;
} */
/* Testing DELETE AFTER */

/* Font by Cinni https://cinni.net/*/
@font-face {
  font-family: basiic;
  src: url(basiic.ttf)
}

body {
  background-image: url(/images/shibuya_dithered_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(191, 191, 191);
  font-family: basiic, Verdana, Geneva, Tahoma, sans-serif;
  width: 60em;
  margin: auto;
  }

p {
  display: inline;
}

/* Subheadings */
h3 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: medium;
}

/* Page container */
.container {
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6) 90%, transparent)
}

/* Main site colors and spacing in sections */
.section {
  background-color: rgba(47, 36, 44, 0.703);
  border-width: 0.1em;
  border-style: solid;
  border-color: rgb(117, 55, 72);
  padding: 1em;
  /* Background styling */
  background-image: url(/images/bubble_background.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

/* First section of the page */
.section-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}

/* Navigation bar */
nav {
  width: 11.5em;
  display: inline-block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 0.10em solid;
    margin-bottom: 0.5em;

    a {
      display: block;
      text-decoration: none;
  
      p, img {
        vertical-align: middle;
        padding-right: 0.2em;
        font-weight: bold;
      }
    }
  }

}

/* Navigation animated hover images */
.nav-about:hover {
  img {
    content: url(/images/nav_icon_about.gif);
    height: 2em;
  }
}

.nav-blog:hover {
  img {
    content: url(/images/nav_icon_blog.gif);
    height: 2em;
  }
}

.nav-new-tab:hover {
  img {
    content: url(/images/nav_icon_new_tab.gif);
    height: 2em;
  }
}

/* Right top section */
.content-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 32em;
}

/* Introduction */
.introduction {
  display: inline-block;
  padding-top: 0.5em;
}

/* Guestbook and Tips */
.guestbook-and-tips {
  margin-top: 2em;
  display: flex;
  align-items: center;
  /* Inline elements */
  > a {
    width: 50%;
  }
}

.tips {
  display: flex;
}

.tip-container {
  position: relative;
  display: inline-block;
  background-color: white;
  color: black;
  width: 7em;
  max-height: max-content;
  border: rgb(255, 255, 255) 0.1em solid;
  border-radius: 1em 1em 1em 1em;
  margin-top: 1em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  :after {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    border: 0.9em solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.4em;
    margin-left: -0.9em;
  }
}

.tip-heading {
  display: block;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

#tip {
  display: block;
  margin-top: 0.5em;
}

/* Second section of the page */
.section-middle {
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  gap: 4.4em;
}

.status {
  width: 11em
}

/* The bottom section of the page */
.section-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links {
  border-style: solid;
  border-width: 0.1em;
  padding: 1em;
  width: 10em;
  display: inline-block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/* Images */
/* Note: all pixel art images are multiplied by 2 */
.pixelated {
  image-rendering: pixelated;
}
.image-title {
  width: 50em;
  margin-bottom: 2em;
}
.image-nav {
  width: 2em;
}
.image-guestbook {
  width: 15.5em;
}
.image-little-guy {
  width: 8em;
  height: 8em;
}
.image-ad {
  width: 32.5em;
}



/* WIP Images */
.image-wip-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  image-rendering: pixelated;
  pointer-events: none;
}
.image-wip-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  image-rendering: pixelated;
  pointer-events: none;
}